body{
    background-color: rgb(102, 78, 65);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: sans-serif;
}

a{ color: antiquewhite;
    text-decoration: none;
}
a:hover {
    color: black;
}

.container{
    background: rgb(109, 56, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    
}
.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background: rgb(73, 42, 21);
}
/*CSS CARDS*/
h1{
    text-align: center;
    margin-top: 50px;
}
img{
    max-width: 100%;
    display: block;
    width: 400px;
    height: 400px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}
p{
    position: left;
    font-family:'Times New Roman', Times, serif
}
div{
    background-color: blanchedalmond;
}